[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/custom/plugins/zsh-autoenv"]
	path = zsh/custom/plugins/zsh-autoenv
	url = https://github.com/Tarrasch/zsh-autoenv.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/vimerl"]
	path = vim/vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "vim/vim/bundle/javascript-libraries-syntax.vim"]
	path = vim/vim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "vim/vim/bundle/yajs.vim"]
	path = vim/vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule "vim/vim/bundle/csv.vim"]
	path = vim/vim/bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
